body {
    font-family: 'Arial', sans-serif;
    background-color: #bfcebf;
    text-align: center;
}

#quiz-container {
    max-width: 600px;
    margin: 10px auto;
    background-color: #d2d7d0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
}

button:hover {
    background-color: #76cb21;
}

#timer {
    font-weight: bold;
    color: #4CAF50;
}

#question-container ul li {
    cursor: pointer;
    transition: background-color 0.3s;
}

#question-container ul {
    list-style: none; /* Remove standard list bullet points */
    padding: 0;
}

#question-container ul li:hover {
    background-color: #cfcf1e;
}

#question-container ul li.selected {
    background-color: #a2c825;
}

#question-container h2 {
    font-size: 1.5em;
}

#question-container img {
    max-width: 95%;
    height: 350px;
    margin-top: 10px;
}

#question-container li {
    background-color: #ddd;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
